 <!DOCTYPE html>
 <html lang="en">
 <head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>home</title>
     <link rel="stylesheet" href="../css/style.css">
     <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
 </head>
 <body class="container"> 
        <div class="content" >
          <center> <h1>Shero</h1> </center>
          <center> <p>  Empowering women for tomorrow </p> </center>
          <center> <a href="../templates/job.html" class="btn">Jobs</a> </center>
          <center> <a href="../templates/scholarship.html" class="btn">Scholarships</a> </center>
        </div>
     
 </body>
 </html>
