<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job</title>
    <link rel="stylesheet" href="../css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
</head>
<body class="container"> 
    <center> 
    <form class="box1" action="job.html" method="post"> 
        <h1 style="font-family: 'Montserrat';">Job</h1>  
        <input type="text" id="name" placeholder="Name"> 
        <input type="number" id="age" placeholder="Age"> 
        <input type="text" id="qualification" placeholder="Qualification">
        <input type="text" id="type" placeholder="Type"> 
        <input type="text" id="location" placeholder="Location"> 
        <input type="submit" name=""  value="Submit"> 
    </form>
    </center>
</body>
</html>